column-count = 3
gap = 0

.b-news-tile
  -webkit-column-count column-count
  -webkit-column-gap gap
  column-count column-count
  column-gap gap
  max-width 100%
  text-align center
  height 100% !important
  margin 1% auto


  .b-news-tile__loader
    display none
    position fixed
    margin-left -34px
    margin-top -40px
    left: 50%
    top: 50%

  &.b-news-tile_loading
    .b-news-tile__loader
      display block

  .b-news-tile__item
    background-color rgba(0, 0, 0, 0.7)
    max-width 400px
    display inline-block
    overflow hidden
    text-align center

    // .b-news-tile__item__image

    .b-news-tile__item__title
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%
      display inline-block
      position relative

      overflow hidden
      top -60px
      height: 54px
      padding 5px

      text-align center
      color #fff
