body
  padding 0

.b-news-tile
  text-align left
  height 100% !important
  width 100%
  line-height 1em


  .b-news-tile__loader
    display none
    position fixed
    margin-left -34px
    margin-top -40px
    left: 50%
    top: 50%

  &.b-news-tile_loading
    .b-news-tile__loader
      display block

  .b-news-tile__item
    background-color rgba(0, 0, 0, 0.7)
    height 250px
    max-width 25%
    display inline-block
    overflow hidden
    text-align left


    &:hover
      .b-news-tile__item__image
        opacity 0.3

    &.b-news-tile__item_loading
      .b-news-tile__item__image
        opacity 0

    .b-news-tile__item__image
      -webkit-transition opacity 500ms
      transition opacity 500ms
      height 250px

    .b-news-tile__item__title
      line-height normal
      background-color rgba(0, 0, 0, 0.7)
      display block
      position relative
      font-size 14px

      overflow hidden
      height 73px
      top -75px
      padding 3px

      text-align center
      color #fff
